
old/test.py
old/results/german_clusters.rds
old/results/compas_clusters.rds
old/results/adult_clusters.rds
old/README.md
old/python_test.py
old/prelimenary_test.R
old/load_binary_data.R
old/LearnFairNB-master/setup/setup_finder.sh
old/LearnFairNB-master/setup/setup_environment.sh
old/LearnFairNB-master/setup/setup.sh
old/LearnFairNB-master/setup/clean.sh
old/LearnFairNB-master/README.md
old/LearnFairNB-master/gpkit/setup.py
old/LearnFairNB-master/gpkit/runtests.sh
old/LearnFairNB-master/gpkit/rtd_requirements.txt
old/LearnFairNB-master/gpkit/README.md
old/LearnFairNB-master/gpkit/pylint.sh
old/LearnFairNB-master/gpkit/MANIFEST
old/LearnFairNB-master/gpkit/linecount.sh
old/LearnFairNB-master/gpkit/LICENSE
old/LearnFairNB-master/gpkit/gpkit/varkey.py
old/LearnFairNB-master/gpkit/gpkit/tools/tools.py
old/LearnFairNB-master/gpkit/gpkit/tools/spdata.py
old/LearnFairNB-master/gpkit/gpkit/tools/fmincon.py
old/LearnFairNB-master/gpkit/gpkit/tools/docstring.py
old/LearnFairNB-master/gpkit/gpkit/tools/autosweep.py
old/LearnFairNB-master/gpkit/gpkit/tools/__init__.py
old/LearnFairNB-master/gpkit/gpkit/tests/test_repo.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_vars.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_tools.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_sub.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_solution_array.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_small.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_nomials.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_nomial_array.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_model.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_keydict.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_examples.py
old/LearnFairNB-master/gpkit/gpkit/tests/t_constraints.py
old/LearnFairNB-master/gpkit/gpkit/tests/run_tests.py
old/LearnFairNB-master/gpkit/gpkit/tests/helpers.py
old/LearnFairNB-master/gpkit/gpkit/tests/from_paths.py
old/LearnFairNB-master/gpkit/gpkit/tests/__init__.py
old/LearnFairNB-master/gpkit/gpkit/solution_array.py
old/LearnFairNB-master/gpkit/gpkit/small_scripts.py
old/LearnFairNB-master/gpkit/gpkit/small_classes.py
old/LearnFairNB-master/gpkit/gpkit/repr_conventions.py
old/LearnFairNB-master/gpkit/gpkit/nomials/variables.py
old/LearnFairNB-master/gpkit/gpkit/nomials/substitution.py
old/LearnFairNB-master/gpkit/gpkit/nomials/math.py
old/LearnFairNB-master/gpkit/gpkit/nomials/map.py
old/LearnFairNB-master/gpkit/gpkit/nomials/data.py
old/LearnFairNB-master/gpkit/gpkit/nomials/core.py
old/LearnFairNB-master/gpkit/gpkit/nomials/array.py
old/LearnFairNB-master/gpkit/gpkit/nomials/__init__.py
old/LearnFairNB-master/gpkit/gpkit/modified_ctypesgen.py
old/LearnFairNB-master/gpkit/gpkit/keydict.py
old/LearnFairNB-master/gpkit/gpkit/interactive/widgets.py
old/LearnFairNB-master/gpkit/gpkit/interactive/sankey.py
old/LearnFairNB-master/gpkit/gpkit/interactive/ractor.py
old/LearnFairNB-master/gpkit/gpkit/interactive/plotting.py
old/LearnFairNB-master/gpkit/gpkit/interactive/plot_sweep.py
old/LearnFairNB-master/gpkit/gpkit/interactive/chartjs.py
old/LearnFairNB-master/gpkit/gpkit/interactive/__init__.py
old/LearnFairNB-master/gpkit/gpkit/globals.py
old/LearnFairNB-master/gpkit/gpkit/exceptions.py
old/LearnFairNB-master/gpkit/gpkit/env/settings
old/LearnFairNB-master/gpkit/gpkit/ctypesgen.log
old/LearnFairNB-master/gpkit/gpkit/constraints/tight.py
old/LearnFairNB-master/gpkit/gpkit/constraints/single_equation.py
old/LearnFairNB-master/gpkit/gpkit/constraints/sigeq.py
old/LearnFairNB-master/gpkit/gpkit/constraints/sgp.py
old/LearnFairNB-master/gpkit/gpkit/constraints/set.py
old/LearnFairNB-master/gpkit/gpkit/constraints/relax.py
old/LearnFairNB-master/gpkit/gpkit/constraints/prog_factories.py
old/LearnFairNB-master/gpkit/gpkit/constraints/model.py
old/LearnFairNB-master/gpkit/gpkit/constraints/loose.py
old/LearnFairNB-master/gpkit/gpkit/constraints/gp.py
old/LearnFairNB-master/gpkit/gpkit/constraints/costed.py
old/LearnFairNB-master/gpkit/gpkit/constraints/bounded.py
old/LearnFairNB-master/gpkit/gpkit/constraints/array.py
old/LearnFairNB-master/gpkit/gpkit/constraints/__init__.py
old/LearnFairNB-master/gpkit/gpkit/build.py
old/LearnFairNB-master/gpkit/gpkit/_pint/usd_cpi.txt
old/LearnFairNB-master/gpkit/gpkit/_pint/__init__.py
old/LearnFairNB-master/gpkit/gpkit/_mosek/lib/__init__.py
old/LearnFairNB-master/gpkit/gpkit/_mosek/expopt.py
old/LearnFairNB-master/gpkit/gpkit/_mosek/cli_expopt.py
old/LearnFairNB-master/gpkit/gpkit/_mosek/build/scopt-ext.h
old/LearnFairNB-master/gpkit/gpkit/_mosek/build/scopt-ext.c
old/LearnFairNB-master/gpkit/gpkit/_mosek/build/mosek.h
old/LearnFairNB-master/gpkit/gpkit/_mosek/build/expopt.h
old/LearnFairNB-master/gpkit/gpkit/_mosek/build/expopt.c
old/LearnFairNB-master/gpkit/gpkit/_mosek/build/dgopt.h
old/LearnFairNB-master/gpkit/gpkit/_mosek/build/dgopt.c
old/LearnFairNB-master/gpkit/gpkit/_mosek/__init__.py
old/LearnFairNB-master/gpkit/gpkit/_cvxopt.py
old/LearnFairNB-master/gpkit/gpkit/__init__.py
old/LearnFairNB-master/gpkit/gpkit.egg-info/top_level.txt
old/LearnFairNB-master/gpkit/gpkit.egg-info/SOURCES.txt
old/LearnFairNB-master/gpkit/gpkit.egg-info/requires.txt
old/LearnFairNB-master/gpkit/gpkit.egg-info/PKG-INFO
old/LearnFairNB-master/gpkit/gpkit.egg-info/dependency_links.txt
old/LearnFairNB-master/gpkit/fulltests.sh
old/LearnFairNB-master/gpkit/docs/source/visint.rst
old/LearnFairNB-master/gpkit/docs/source/solvemethods.png
old/LearnFairNB-master/gpkit/docs/source/signomialprogramming.rst
old/LearnFairNB-master/gpkit/docs/source/sensitivities.png
old/LearnFairNB-master/gpkit/docs/source/releasenotes.rst
old/LearnFairNB-master/gpkit/docs/source/modelbuilding.rst
old/LearnFairNB-master/gpkit/docs/source/ipynb/Wind.ipynb
old/LearnFairNB-master/gpkit/docs/source/ipynb/simpleaircraft.ipynb
old/LearnFairNB-master/gpkit/docs/source/ipynb/sensitivity_plot.ipynb
old/LearnFairNB-master/gpkit/docs/source/ipynb/maintenance optimization.ipynb
old/LearnFairNB-master/gpkit/docs/source/ipynb/Fuel/fuellogo.svg
old/LearnFairNB-master/gpkit/docs/source/ipynb/Fuel/Fuel_files/Fuel_17_2.png
old/LearnFairNB-master/gpkit/docs/source/ipynb/Fuel/Fuel_files/Fuel_17_1.png
old/LearnFairNB-master/gpkit/docs/source/ipynb/Fuel/Fuel_files/Fuel_17_0.png
old/LearnFairNB-master/gpkit/docs/source/ipynb/Fuel/fuel.svg
old/LearnFairNB-master/gpkit/docs/source/ipynb/Fuel/Fuel.rst
old/LearnFairNB-master/gpkit/docs/source/ipynb/Fuel/Fuel.ipynb
old/LearnFairNB-master/gpkit/docs/source/ipynb/Fuel/fuel.html
old/LearnFairNB-master/gpkit/docs/source/ipynb/Fuel/fuel.gpkit
old/LearnFairNB-master/gpkit/docs/source/ipynb/Fuel/fuel-ractive.svg
old/LearnFairNB-master/gpkit/docs/source/ipynb/Examples from Geometric Programming.ipynb
old/LearnFairNB-master/gpkit/docs/source/ipynb/Box/boxlogo.svg
old/LearnFairNB-master/gpkit/docs/source/ipynb/Box/Box_files/Box_34_0.png
old/LearnFairNB-master/gpkit/docs/source/ipynb/Box/box.svg
old/LearnFairNB-master/gpkit/docs/source/ipynb/Box/Box.rst
old/LearnFairNB-master/gpkit/docs/source/ipynb/Box/Box.ipynb
old/LearnFairNB-master/gpkit/docs/source/ipynb/Box/box.html
old/LearnFairNB-master/gpkit/docs/source/ipynb/Box/box.gpkit
old/LearnFairNB-master/gpkit/docs/source/ipynb/Box/box.constraints
old/LearnFairNB-master/gpkit/docs/source/ipynb/Box/box-ractive.svg
old/LearnFairNB-master/gpkit/docs/source/ipynb/BEMT.ipynb
old/LearnFairNB-master/gpkit/docs/source/ipynb/autosweep2d.ipynb
old/LearnFairNB-master/gpkit/docs/source/ipynb/autosweep.ipynb
old/LearnFairNB-master/gpkit/docs/source/installation.rst
old/LearnFairNB-master/gpkit/docs/source/inheritance.png
old/LearnFairNB-master/gpkit/docs/source/index.rst
old/LearnFairNB-master/gpkit/docs/source/gplogo.svg
old/LearnFairNB-master/gpkit/docs/source/gplogo.png
old/LearnFairNB-master/gpkit/docs/source/gpkit101.rst
old/LearnFairNB-master/gpkit/docs/source/gp101.rst
old/LearnFairNB-master/gpkit/docs/source/gettingstarted.rst
old/LearnFairNB-master/gpkit/docs/source/figures/sankey/solar_wtotal.svg
old/LearnFairNB-master/gpkit/docs/source/figures/sankey/solar_vgust.svg
old/LearnFairNB-master/gpkit/docs/source/figures/sankey/solar_tmin.svg
old/LearnFairNB-master/gpkit/docs/source/figures/sankey/solar_b.svg
old/LearnFairNB-master/gpkit/docs/source/figures/sankey/solar.svg
old/LearnFairNB-master/gpkit/docs/source/examples/x_greaterthan_1_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/x_greaterthan_1.py
old/LearnFairNB-master/gpkit/docs/source/examples/water_tank_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/water_tank.py
old/LearnFairNB-master/gpkit/docs/source/examples/vectorize_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/vectorize.py
old/LearnFairNB-master/gpkit/docs/source/examples/unbounded_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/unbounded.py
old/LearnFairNB-master/gpkit/docs/source/examples/sp_to_gp_sweep_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/sp_to_gp_sweep.py
old/LearnFairNB-master/gpkit/docs/source/examples/sin_approx_example_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/sin_approx_example.py
old/LearnFairNB-master/gpkit/docs/source/examples/simpleflight_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/simpleflight.py
old/LearnFairNB-master/gpkit/docs/source/examples/simple_sp_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/simple_sp.py
old/LearnFairNB-master/gpkit/docs/source/examples/simple_box_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/simple_box.py
old/LearnFairNB-master/gpkit/docs/source/examples/relaxation_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/relaxation.py
old/LearnFairNB-master/gpkit/docs/source/examples/primal_infeasible_ex2_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/primal_infeasible_ex2.py
old/LearnFairNB-master/gpkit/docs/source/examples/primal_infeasible_ex1_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/primal_infeasible_ex1.py
old/LearnFairNB-master/gpkit/docs/source/examples/plot_sweep1d_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/plot_sweep1d.py
old/LearnFairNB-master/gpkit/docs/source/examples/plot_sweep1d.png
old/LearnFairNB-master/gpkit/docs/source/examples/plot_autosweep1d.png
old/LearnFairNB-master/gpkit/docs/source/examples/performance_modeling_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/performance_modeling.py
old/LearnFairNB-master/gpkit/docs/source/examples/model_var_access_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/model_var_access.py
old/LearnFairNB-master/gpkit/docs/source/examples/external_sp_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/external_sp2_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/external_sp2.py
old/LearnFairNB-master/gpkit/docs/source/examples/external_sp.py
old/LearnFairNB-master/gpkit/docs/source/examples/external_function.py
old/LearnFairNB-master/gpkit/docs/source/examples/external_constraint.py
old/LearnFairNB-master/gpkit/docs/source/examples/docstringparsing_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/docstringparsing.py
old/LearnFairNB-master/gpkit/docs/source/examples/debug_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/debug.py
old/LearnFairNB-master/gpkit/docs/source/examples/boundschecking_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/boundschecking.py
old/LearnFairNB-master/gpkit/docs/source/examples/beam_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/beam.svg
old/LearnFairNB-master/gpkit/docs/source/examples/beam.py
old/LearnFairNB-master/gpkit/docs/source/examples/autosweep_output.txt
old/LearnFairNB-master/gpkit/docs/source/examples/autosweep.py
old/LearnFairNB-master/gpkit/docs/source/examples.rst
old/LearnFairNB-master/gpkit/docs/source/debugging.rst
old/LearnFairNB-master/gpkit/docs/source/controlpanel.gif
old/LearnFairNB-master/gpkit/docs/source/conf.py
old/LearnFairNB-master/gpkit/docs/source/citinggpkit.rst
old/LearnFairNB-master/gpkit/docs/source/autodoc/modules.rst
old/LearnFairNB-master/gpkit/docs/source/autodoc/gpkit.tools.rst
old/LearnFairNB-master/gpkit/docs/source/autodoc/gpkit.rst
old/LearnFairNB-master/gpkit/docs/source/autodoc/gpkit.nomials.rst
old/LearnFairNB-master/gpkit/docs/source/autodoc/gpkit.interactive.rst
old/LearnFairNB-master/gpkit/docs/source/autodoc/gpkit.constraints.rst
old/LearnFairNB-master/gpkit/docs/source/advancedcommands.rst
old/LearnFairNB-master/gpkit/docs/source/acknowledgements.rst
old/LearnFairNB-master/gpkit/docs/refresh_build.sh
old/LearnFairNB-master/gpkit/docs/Makefile
old/LearnFairNB-master/gpkit/docs/make.bat
old/LearnFairNB-master/gpkit/docs/apidoc.sh
old/LearnFairNB-master/gpkit/CODE_OF_CONDUCT.md
old/LearnFairNB-master/gpkit/checkpy3.sh
old/LearnFairNB-master/gpkit/.pylintrc
old/LearnFairNB-master/fairNB/pattern_finder/pf_wrapper.pyx
old/LearnFairNB-master/fairNB/pattern_finder/pf_wrapper.cpp
old/LearnFairNB-master/fairNB/pattern_finder/pf_src/search.hpp
old/LearnFairNB-master/fairNB/pattern_finder/pf_src/search.cpp
old/LearnFairNB-master/fairNB/pattern_finder/pf_src/pattern_finder.hpp
old/LearnFairNB-master/fairNB/pattern_finder/pf_src/pattern_finder.cpp
old/LearnFairNB-master/fairNB/pattern_finder/pf_src/naive_bayes.hpp
old/LearnFairNB-master/fairNB/pattern_finder/pf_src/main.cpp
old/LearnFairNB-master/fairNB/pattern_finder/pf_src/data/toy.data
old/LearnFairNB-master/fairNB/pattern_finder/pf_src/CMakeLists.txt
old/LearnFairNB-master/fairNB/pattern_finder/pf_src/.DS_Store
old/LearnFairNB-master/fairNB/pattern_finder/pattern_finder.py
old/LearnFairNB-master/fairNB/pattern_finder/__init__.py
old/LearnFairNB-master/fairNB/pattern_finder/.DS_Store
old/LearnFairNB-master/fairNB/parameter_learner/maximum_likelihood_calculator.py
old/LearnFairNB-master/fairNB/parameter_learner/data_processor.py
old/LearnFairNB-master/fairNB/parameter_learner/__init__.py
old/LearnFairNB-master/fairNB/fair_learn.py
old/LearnFairNB-master/fairNB/.DS_Store
old/LearnFairNB-master/data/processed_data/german_binerized.csv
old/LearnFairNB-master/data/processed_data/german_binary.net.txt
old/LearnFairNB-master/data/processed_data/compas_binerized.csv
old/LearnFairNB-master/data/processed_data/compas_binary.net.txt
old/LearnFairNB-master/data/processed_data/adult_binerized.csv
old/LearnFairNB-master/data/processed_data/adult_binary.net.txt
old/LearnFairNB-master/data/pre-processing scripts/german_data_categorizing.py
old/LearnFairNB-master/data/pre-processing scripts/german_data_binarized.py
old/LearnFairNB-master/data/pre-processing scripts/compass_data_pcategorizing.py
old/LearnFairNB-master/data/pre-processing scripts/compass_data_binarized.py
old/LearnFairNB-master/data/pre-processing scripts/adult_data_categorizing.py
old/LearnFairNB-master/data/pre-processing scripts/adult_data_binarized.py
old/LearnFairNB-master/data/pre-processing scripts/.Rapp.history
old/LearnFairNB-master/data/pre-processing scripts/.DS_Store
old/LearnFairNB-master/data/original_data/german.data
old/LearnFairNB-master/data/original_data/compas.data
old/LearnFairNB-master/data/original_data/adult.data
old/LearnFairNB-master/data/original_data/.DS_Store
old/LearnFairNB-master/.DS_Store
old/data_test/fairlet_data.csv
old/data_test/data_unfair.csv
old/data/processed_data/german_binerized.csv
old/data/processed_data/german_binary.net.txt
old/data/processed_data/compas_binerized.csv
old/data/processed_data/compas_binary.net.txt
old/data/processed_data/adult_binerized.csv
old/data/processed_data/adult_binary.net.txt
old/data/pre-processing_scripts/german_data_categorizing.py
old/data/pre-processing_scripts/german_data_binarized.py
old/data/pre-processing_scripts/compass_data_pcategorizing.py
old/data/pre-processing_scripts/compass_data_binarized.py
old/data/pre-processing_scripts/adult_data_categorizing.py
old/data/pre-processing_scripts/adult_data_binarized.py
old/data/pre-processing_scripts/.Rapp.history
old/data/pre-processing_scripts/.DS_Store
old/data/pre-processing scripts/adult_data_binarized.py
old/data/original_data/german.data
old/data/original_data/compas.data
old/data/original_data/adult.data
old/data/original_data/.DS_Store
old/data/.DS_Store
old/compas.png
old/CFA-main/vignettes/spurious.gif
old/CFA-main/vignettes/shai.bib
old/CFA-main/vignettes/shai-challenge.Rmd
old/CFA-main/vignettes/indirect.gif
old/CFA-main/vignettes/direct.gif
old/CFA-main/vignettes/d.png
old/CFA-main/vignettes/compas-sfm.png
old/CFA-main/vignettes/c.png
old/CFA-main/vignettes/b.png
old/CFA-main/vignettes/arxiv.sty
old/CFA-main/vignettes/a.png
old/CFA-main/tests/testthat/test-type-consistency.R
old/CFA-main/tests/testthat/test-synthetic.R
old/CFA-main/tests/testthat/test-sfm-proj.R
old/CFA-main/tests/testthat/test-params-nboot.R
old/CFA-main/tests/testthat/test-non-overlap.R
old/CFA-main/tests/testthat/test-generics.R
old/CFA-main/tests/testthat/test-faircause.R
old/CFA-main/tests/testthat/test-empty.R
old/CFA-main/tests/testthat/test-crf.R
old/CFA-main/tests/testthat/test-correctness.R
old/CFA-main/tests/testthat/test-cis.R
old/CFA-main/tests/testthat/helpers.R
old/CFA-main/tests/testthat/helpers-correctness.R
old/CFA-main/tests/testthat/_snaps/synthetic/synth3.png
old/CFA-main/tests/testthat/_snaps/synthetic/synth2.png
old/CFA-main/tests/testthat/_snaps/synthetic/synth1.png
old/CFA-main/tests/testthat/_snaps/sfm-proj.md
old/CFA-main/tests/testthat/_snaps/generics/unsigned_ranger.png
old/CFA-main/tests/testthat/_snaps/generics/both_ranger.png
old/CFA-main/tests/testthat/_snaps/generics/auto_ranger.png
old/CFA-main/tests/testthat/_snaps/generics/auto_lin.png
old/CFA-main/tests/testthat/_snaps/generics.md
old/CFA-main/tests/testthat/_snaps/faircause/auto_eo.png
old/CFA-main/tests/testthat/_snaps/faircause.md
old/CFA-main/tests/testthat.R
old/CFA-main/scripts/spurious-ID.R
old/CFA-main/scripts/poster/poster-figs.R
old/CFA-main/scripts/ot-surface.R
old/CFA-main/scripts/main.R
old/CFA-main/scripts/IMS-ICML/fair-pred-geom.R
old/CFA-main/scripts/helpers/zzz-deps.R
old/CFA-main/scripts/helpers/plot.R
old/CFA-main/scripts/helpers/load.R
old/CFA-main/scripts/helpers/helpers.R
old/CFA-main/scripts/helpers/helpers-old-DR.R
old/CFA-main/scripts/helpers/census-from-raw.R
old/CFA-main/scripts/full-graph-version.R
old/CFA-main/scripts/fair-prediction/fpt-engine.R
old/CFA-main/scripts/fair-prediction/fair-pred-task.R
old/CFA-main/scripts/examples-manuscript/who-is-who.R
old/CFA-main/scripts/examples-manuscript/startup-hiring-iii-A.R
old/CFA-main/scripts/examples-manuscript/oracle-vs-dm.R
old/CFA-main/scripts/examples-manuscript/obs-disp.R
old/CFA-main/scripts/examples-manuscript/nde-fail-example.R
old/CFA-main/scripts/examples-manuscript/indep-tests.R
old/CFA-main/scripts/examples-manuscript/compas-business-necessity.R
old/CFA-main/scripts/examples-manuscript/col-adm-time.R
old/CFA-main/scripts/examples-manuscript/census-quick-and-dirty.R
old/CFA-main/scripts/examples-manuscript/berkeley-example.R
old/CFA-main/scripts/eo/eo-example.R
old/CFA-main/scripts/compas-icml23.R
old/CFA-main/scripts/comparisons/euler/ate-comparison-euler.R
old/CFA-main/scripts/comparisons/dynamic-visualization.R
old/CFA-main/scripts/comparisons/comparison.R
old/CFA-main/README.Rmd
old/CFA-main/README.md
old/CFA-main/r/sfm-proj.R
old/CFA-main/r/mediation-dml.R
old/CFA-main/r/generics.R
old/CFA-main/r/decompositions.R
old/CFA-main/r/data.R
old/CFA-main/r/ci-helpers.R
old/CFA-main/r/causal-forest.R
old/CFA-main/quarto-webpage/styles.css
old/CFA-main/quarto-webpage/render.R
old/CFA-main/quarto-webpage/pages/shai-challenge_files/figure-html/fig-vis-recid-1.png
old/CFA-main/quarto-webpage/pages/shai-challenge_files/figure-html/fig-north-cookbook-1.png
old/CFA-main/quarto-webpage/pages/shai-challenge_files/figure-html/fig-eo-decomp-1.png
old/CFA-main/quarto-webpage/pages/shai-challenge.Rmd
old/CFA-main/quarto-webpage/pages/compas-t2.Rmd
old/CFA-main/quarto-webpage/pages/compas-t1.Rmd
old/CFA-main/quarto-webpage/pages/compas-t1-extended.Rmd
old/CFA-main/quarto-webpage/pages/college-admissions-t1_files/figure-html/fig-north-cookbook-1.png
old/CFA-main/quarto-webpage/pages/college-admissions-t1.Rmd
old/CFA-main/quarto-webpage/pages/ci-tests.Rmd
old/CFA-main/quarto-webpage/pages/census-t1.Rmd
old/CFA-main/quarto-webpage/index.qmd
old/CFA-main/quarto-webpage/figs/sfm.png
old/CFA-main/quarto-webpage/figs/d.png
old/CFA-main/quarto-webpage/figs/c.png
old/CFA-main/quarto-webpage/figs/b.png
old/CFA-main/quarto-webpage/figs/a.png
old/CFA-main/quarto-webpage/bib/shai.bib
old/CFA-main/quarto-webpage/bib/CFA.bib
old/CFA-main/quarto-webpage/about.qmd
old/CFA-main/quarto-webpage/_quarto.yml
old/CFA-main/py/reweighing_compas.py
old/CFA-main/py/reductions_compas.py
old/CFA-main/NAMESPACE
old/CFA-main/man/SFM_proj.Rd
old/CFA-main/man/gov_census.Rd
old/CFA-main/man/figures/README-CFA-1.png
old/CFA-main/man/fairness_cookbook_eo.Rd
old/CFA-main/man/fairness_cookbook.Rd
old/CFA-main/man/compas.Rd
old/CFA-main/man/berkeley.Rd
old/CFA-main/LICENSE.md
old/CFA-main/inst/extdata/sfm-projections.json
old/CFA-main/inst/extdata/compas-scores-two-years.csv
old/CFA-main/inst/extdata/census.csv
old/CFA-main/inst/extdata/berkeley.csv
old/CFA-main/docs/styles.css
old/CFA-main/docs/site_libs/quarto-search/quarto-search.js
old/CFA-main/docs/site_libs/quarto-search/fuse.min.js
old/CFA-main/docs/site_libs/quarto-search/autocomplete.umd.js
old/CFA-main/docs/site_libs/quarto-nav/quarto-nav.js
old/CFA-main/docs/site_libs/quarto-nav/headroom.min.js
old/CFA-main/docs/site_libs/quarto-html/tippy.umd.min.js
old/CFA-main/docs/site_libs/quarto-html/tippy.css
old/CFA-main/docs/site_libs/quarto-html/quarto.js
old/CFA-main/docs/site_libs/quarto-html/quarto-syntax-highlighting.css
old/CFA-main/docs/site_libs/quarto-html/popper.min.js
old/CFA-main/docs/site_libs/quarto-html/anchor.min.js
old/CFA-main/docs/site_libs/clipboard/clipboard.min.js
old/CFA-main/docs/site_libs/bootstrap/bootstrap.min.js
old/CFA-main/docs/site_libs/bootstrap/bootstrap.min.css
old/CFA-main/docs/site_libs/bootstrap/bootstrap-icons.woff
old/CFA-main/docs/site_libs/bootstrap/bootstrap-icons.css
old/CFA-main/docs/search.json
old/CFA-main/docs/pages/shai-challenge_files/figure-html/fig-vis-recid-1.png
old/CFA-main/docs/pages/shai-challenge_files/figure-html/fig-north-cookbook-1.png
old/CFA-main/docs/pages/shai-challenge_files/figure-html/fig-eo-decomp-1.png
old/CFA-main/docs/pages/shai-challenge.html
old/CFA-main/docs/pages/python-use.html
old/CFA-main/docs/pages/compas-t2_files/figure-html/unnamed-chunk-9-1.png
old/CFA-main/docs/pages/compas-t2_files/figure-html/unnamed-chunk-8-1.png
old/CFA-main/docs/pages/compas-t2_files/figure-html/unnamed-chunk-7-1.png
old/CFA-main/docs/pages/compas-t2_files/figure-html/fig-compas-fairpred-1.png
old/CFA-main/docs/pages/compas-t2_files/figure-html/fig-compas-fairadapt-1.png
old/CFA-main/docs/pages/compas-t2.html
old/CFA-main/docs/pages/compas-t1_files/figure-html/unnamed-chunk-4-1.png
old/CFA-main/docs/pages/compas-t1_files/figure-html/unnamed-chunk-3-1.png
old/CFA-main/docs/pages/compas-t1_files/figure-html/unnamed-chunk-2-1.png
old/CFA-main/docs/pages/compas-t1.html
old/CFA-main/docs/pages/compas-t1-extended_files/figure-html/fig-compas-cookbook-1.png
old/CFA-main/docs/pages/compas-t1-extended_files/figure-html/fig-compas-bn-1.png
old/CFA-main/docs/pages/compas-t1-extended.html
old/CFA-main/docs/pages/college-admissions-t1_files/figure-html/fig-north-cookbook-1.png
old/CFA-main/docs/pages/college-admissions-t1.html
old/CFA-main/docs/pages/ci-tests_files/figure-html/pressure-1.png
old/CFA-main/docs/pages/ci-tests_files/figure-html/fig-compas-ci-1.png
old/CFA-main/docs/pages/ci-tests_files/figure-html/fig-adult-ci-1.png
old/CFA-main/docs/pages/ci-tests.html
old/CFA-main/docs/pages/census-t1_files/figure-html/fig-census-cookbook-1.png
old/CFA-main/docs/pages/census-t1.html
old/CFA-main/docs/index.html
old/CFA-main/docs/figs/sfm.png
old/CFA-main/docs/figs/d.png
old/CFA-main/docs/figs/c.png
old/CFA-main/docs/figs/b.png
old/CFA-main/docs/figs/a.png
old/CFA-main/docs/about.html
old/CFA-main/DESCRIPTION
old/CFA-main/data/gov_census.rda
old/CFA-main/data/compas.rda
old/CFA-main/data/berkeley.rda
old/CFA-main/CFA.Rproj
old/CFA-main/.Rbuildignore
old/CFA-main/.nojekyll
old/causal_fair_clustering_new.R
old/causal_fair_clustering.R
old/causal_clustering_test.R
old/adult.png
.DS_Store
